extends post-layout

block body
  div#container.show
    time
      != H.formatDate(post.created)
    div#content
        section
          div.post.contain
            h1.aside
              != post.titleHtml
            != post.contentHtml
            - if(isAuth)
              ul.actions
                li
                  a(href='/post/edit/' + post.id) Edit
                li
                  a(href='/post/remove/' + post.id) Remove
          a.button.space-top(href='/') Back to Blog
