!!! 5
html
  head
    title GitFunding Blog
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,900')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.index.posts
    header
      h1
        a(href='/') GitFunding
      span Blog
      ul
        li
          a(href='https://twitter.com/#!/gitfunding', target='_blank') twitter
      span.powered-by Powered by
        a(href='http://nodejs.org/', target='_blank') Node.js
        &nbsp;·
        a(href='/admin') Admin
    body
      block body
    script(src='/javascripts/jquery-1.7.2.js')
    script(src='/javascripts/script.js')
